*{
    font-family:"Microsoft JhengHei",Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 200px;
    margin: 30px auto 0 auto;
}
h1{
    margin: 150px auto o auto;

}
.helloo{
    position: absolute;
    top: 200px;
    
}
#hello{
    font-size: 20px;
   
}
a{
    text-decoration: none;
    color: rgb(243, 209, 158);
    
}
